{% extends "account/base.html" %}
{% load account socialaccount %}
{% providers_media_js %}

<div class="row">
{% block content %}
  
  {% get_providers as socialaccount_providers %}

  {% if socialaccount_providers %}

  <div class="wrap-login100">
    <div class='login100-form'>
      <span class="login100-form-title p-b-26">
            PlacesRemembers
          </span>
      <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
                 <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="fb connect login100-form-btn">Войти с помощью Facebook</a>
            </div>
          </div>
      <ul class="socialaccount_providers">
       
      </ul>

    </div>
  </div>

  {% include "socialaccount/snippets/login_extra.html" %}

  {% else %}
  {% endif %}

{% endblock %}
</div>