{% extends 'base.html' %}

{% block content %}
{% if not remembers %}
	<p>У вас нет ни одного воспоминания</p>
{% endif %}
<a class='btn btn-primary' href="{% url 'remember_create' %}">Добавить воспоминание</a>
	<div class="row">
	{% for remember in remembers %}

		<div class="col-sm-2">
			<div class="card" style="width: 18rem;">
			  <div class="card-body">
			    <a href="{% url "remember_detail" pk=remember.pk %}"><h5 class="card-title">{{remember}}</h5></a>
			    <p class="card-text">{{remember.description}}</p>
			    <a href="{% url 'remember_update' pk=remember.pk %}">Обновить</a>
			    <form method="POST" action="{% url "remember_delete" pk=remember.pk %}">
				   {% csrf_token %}<input type="submit" value="Удалить"></form>
			  </div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}